html{
	font-size: 1em !important;
   color: #000 !important;
   font-family: Arial !important;
}
#contMid{
	width:70em;
	height:100%;
    background-color: #64ace8;
	display:flex;		
    align-items:flex-center;
    margin:2em auto;
    padding : 2em;
    padding-left : 6em;
}
#mainArea{
	width:55em;	
	display:inline-block;
}

#mainAreaItem{
	margin-top:1em;
	margin-left:2em;
	margin-bottom:1em;
	background-color : #ffffff;
	box-shadow: 5px 5px 5px 5px #888888;
	padding:10px;
	overflow:hidden;
}
.footer{
	background-color: #e7e7e7;
}